<table class="table">
  <tbody>
    <tr *ngFor="let p of produits; index as i">
      <td>{{ p.nom }}</td>
      <td>{{ p.prix }}</td>
      <td>
        <a
          [routerLink]="['/produits', i]"
          routerLinkActive="active"
          class="btn btn-primary"
          >editer</a
        >
      </td>
      <td>
        <button (click)="delete(i)" class="btn btn-danger">supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/produits', 'new']" class="btn btn-link">nouveau produit</a>
