<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>VoyageFront</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>controller.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compte</display-name>
    <servlet-name>Compte</servlet-name>
    <servlet-class>controller.Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compte</servlet-name>
    <url-pattern>/Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlCompte</display-name>
    <servlet-name>ControlCompte</servlet-name>
    <servlet-class>controller.ControlCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCompte</servlet-name>
    <url-pattern>/ControlCompte</url-pattern>
  </servlet-mapping>
</web-app>