<table class="table">
  <tr *ngFor="let p of produits">
    <td>{{ p.id }}</td>
    <td>{{ p.libelle }}</td>
    <td>{{ p.prix }}</td>
    <achat *ngIf="!admin" [produit]="p"></achat>
    <admin-produit
      *ngIf="admin"
      [id]="p.id"
      (deleteEvent)="list()"
    ></admin-produit>
  </tr>
</table>
<a
  *ngIf="admin"
  [routerLink]="['/produit', 'edit']"
  routerLinkActive="active"
  class="btn btn-link"
  >nouveau produit</a
>
<a
  *ngIf="!admin"
  routerLink="/panier"
  routerLinkActive="active"
  class="btn btn-link"
  >consultation panier</a
>
